/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	padding: 50px;
	background-color: black;
}

.zavody {
	position: relative;
	width: 1000px;
	height: 679px;
	margin: 0 auto;
	background: url(images/pozadi.jpg) no-repeat top left;
	border: 5px solid rgba(255, 255, 255, 0.3);
}

.raketka1,
.raketka2,
.raketka3 {
	display: block;
	position: absolute;
	left: 5px;
	width: 140px;
	height: 83px;
}

.raketka1 { top: 150px; }
.raketka2 { top: 330px; }
.raketka3 { top: 510px; }
/* můj kod */

/* @keyframes zavod {
	 0% { transform: translate(0);}
	 100% {transform: translateX(845px);}
}

.raketka1 {
	animation: zavod 10s both;
}

.raketka2 {
	animation: zavod 3s 1s both;
}

.raketka3 {
	animation: zavod 6s both;
} */

@keyframes zavod {
	0% {transform: translateX(0) rotate(0);}
	40% {transform: translateX(845px)rotate(0);}
	60% {transform: translateX(845px)rotate(180deg);}
	100% {transform: translateX(0)rotate(180deg);}
}

.raketka1 {
	animation: zavod 12s both;
}

.raketka2 {
	animation: zavod 6s 1s both;
}

.raketka3 {
	animation: zavod 8s both;
}