/* intuitivnejší box model */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/* ------------------------------------------------ */

.grid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.grid__column-text {
	align-self: center;
}